<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body style="max-height: 300px;overflow: hidden;">
    <!-- Begin page content -->
    <main role="main" class="main_container">
        <h2 class="mt-5 text-center" style="padding-bottom: 10px;">404</h2>
        <div class="table-responsive">
            <img src="../images/404.png" alt="Page Not Found" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" />
        </div>
    </main>
    <footer class="footer">
        <div class="footer_container">
            <span class="text-muted">Developed by Gowtham</span>
        </div>
    </footer>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/utlis.js"></script>
<script src="../js/misc.js"></script>

</html>