<!doctype html>
<html lang="en">

<head>
    <title>Books DashBoard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This page loads the DashBoard for books">
    <meta name="author" content="Gowtham">
    <meta name="google-signin-client_id" content="161207169085-40u4iv1851qtdpjro7smd906nrcomjj6.apps.googleusercontent.com">

    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Fixed navbar -->
    </header>
    <!-- Begin page content -->
    <main role="main" class="main_container">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_container">
            <span class="text-muted">Developed by Gowtham</span>
        </div>
    </footer>

    <script src="https://apis.google.com/js/platform.js" sync></script>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/utlis.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/login.js"></script>
    <script>
    </script>
</body>

</html>